## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBINIUS
*.rbc

## NETBEANS
nbproject

## REDCAR
.redcar

## RVM
.rvmrc

## BUNDLER
.bundle

## PROJECT::GENERAL
coverage
doc
rdoc
.yardoc
pkg
wiki

## PROJECT::SPECIFIC
dist
*.tch
*.mrd
*.tab
*.sqlite3
